@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.pageTitle{

    text-align: center;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 15px;
}

.trending{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}