@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* border: 1px solid white; */
    padding-bottom: 10px; 
    padding-top: 8px; 
    font-size: 45px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #fa0717;
    background-color: #161616;
    position: fixed;
    font-weight: 650;
    z-index: 100;
}

.heading{
    
    cursor: pointer;
    margin-left: 30px;
}

.btn{

    height: 2.5em;
    margin-top: 1em;
    margin-right: 30px;
    width: 100px;
    border-radius: 0.5em;
    background-color: #fa0717;
    border: 1px solid #fa0717;
    color: white;
    font-size: 16px;
    cursor: pointer;
}